#logo {
  object-fit: contain;
  height: 50px;
}

.nav-link {
  margin-right: 20px;
  font-weight: 400;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.nav-link:hover {
  color: red !important;
  font-weight: 700;
  background: rgb(224, 221, 221);
}

.nav__bar {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
